<%= simple_form_for [@yacht, @booking], url: yacht_bookings_path do |f| %>
<div class="row justify-content-center">
<%= f.input :check_in_date,
            start_year: Date.today.year,
            order: [:day, :month, :year] %>
</div>
<div class="row justify-content-center">
<%= f.input :check_out_date,start_year: Date.today.year, end_year: Date.today.year + 2,  order: [:day, :month, :year]%>
</div>
<div class="row justify-content-center">
<%= f.submit class: 'btn btn-primary form-btn' %>
</div>
<% end %>

