<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://www.sailuxeboat.com/wp-content/uploads/2019/04/1_sailuxe_home.jpg);">
  <%= render 'shared/navbar' %>
  <div class="container">
    <h1>Book a yacht <strong>whenever & wherever!</strong></h1>
  </div>
</div>
<div class="content-main" >
  <div class="left-img" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://heremag-prod-app-deps-s3heremagassets-bfie27mzpk03.s3.amazonaws.com/wp-content/uploads/2020/02/19120216/2E0ABCF2-4B95-43DE-A0F1-4B1D5F3A1053-1200x900.jpg);">
  </div>
  <div class="second">
    <div class="page-kpis">
      <div class="main-discription">
        <h2>200</h2>
        <p>Experiences</p>
      </div>
      <div class="main-discription">
        <h2>30</h2>
        <p>Locations</p>
      </div>
      <div class="main-discription">
        <h2>624</h2>
        <p>Yachts</p>
      </div>
      <div class="main-discription">
        <h2>9000</h2>
        <p>Members</p>
      </div>
    </div>
    <div class="right-img" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://features.boats.com/boat-content/files/2016/05/cruising-sailboat.jpg);">
    </div>
  </div>
</div>
