<table class="minimal-style">
  <tbody><tr>
    <td width="145" class="title">Length</td>
    <td class="js_compare_length extra-large-copy">
    <span class="pref pref-length-f active">312'4</span>&nbsp;/&nbsp;<span class="pref pref-length-m ">&nbsp;<span class="brackets">95.2m</span></span>
    </td>
  </tr>
  <tr>
    <td class="title">Beam</td>
    <td>
    <span class="pref pref-length-f active">45'3</span>&nbsp;/&nbsp;<span class="pref pref-length-m ">&nbsp;<span class="brackets">13.8m</span></span>
    </td>
  </tr>
  <tr>
    <td class="title">Draft</td>
    <td>
    <span class="pref pref-length-f active">12'4</span>&nbsp;/&nbsp;<span class="pref pref-length-m ">&nbsp;<span class="brackets">3.75m</span></span>
    </td>
  </tr>
  <tr>
    <td class="title">Gross Tonnage</td>
    <td class="larger-copy">2928&nbsp;GT</td>
  </tr>
  <tr>
    <td class="title">Cruising Speed</td>
    <td class="larger-copy">12 Knots</td>
  </tr>
  <tr>
    <td class="title">Built</td>
    <td><div class="larger-copy">2014</div></td>
  </tr>
  <tr>
    <td class="title">Builder</td>
    <td class="js_compare_builder">
      <a href="/lurssen-yachts-charter-yachts-1518.htm">Lurssen</a><span style="display:none;" data-mobile="f" itemprop="manufacturer">Lurssen</span>
    </td>
  </tr>
  <tr>
    <td class="title">Model</td>
    <td>
      <a href="/custom-yacht-charter-l1-1518.htm">Custom</a><span style="display:none;" itemprop="model">Custom</span>
    </td>
  </tr>
  <tr>
    <td class="title">Exterior Designer</td>
    <td>Espen Oeino</td>
  </tr>
  <tr>
    <td class="title">Interior Design</td>
    <td>Reymond Langton Design</td>
  </tr>
</tbody></table>