<div class="card">
  <div class="card-header">
    Specification
  </div>
  <div class="card-body">
    <table>
      <tbody>
        <tr>
          <td width="145">Length</td>
          <td >
          <span><%= @yacht.length %></span>
          </td>
        </tr>
        <tr>
          <td>Cabins</td>
          <td>
          <span><%= @yacht.number_of_cabins %></span>
          </td>
        </tr>
        <tr>
          <td>Cruising Speed</td>
          <td>12 Knots</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>