<%= render 'shared/navbar' %>

<div class="card">
  <div class="card-body">
    <h4><%= @yacht.name %></h4>
    <p><%= @yacht.description %></p>
  </div>
</div>
<%= link_to "new booking", '/yachts/1/bookings/new'  %>
