<div class="container">
  <div class="card">
    <div class="card-body">
      <h2><%= @yacht.name %></h2>
      <%= @yacht.description %>
      <h4>Specifications</h4>
      <ul>
        <li><%= @yacht.name %></li>
        <li><%= @yacht.length %></li>
      </ul>
    </div>
  </div>
</div>
