.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  margin: 0 10px;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.card {
  // background-size: cover;
  // background-position: center;
  // height: 150px;
  // border-radius: 1px;
  // box-shadow: 0 0 10px rgba(0,0,0,0.2);
  // display: flex;
  // align-items: center;
  // justify-content: space-around;
  // font-size: 22px;
  // color: white;
  // font-weight: bolder;
  // text-shadow: 0 0 10px rgba(0,0,0,0.7);
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-height: 400px;
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

// .description {
//   text-overflow:ellipsis;
// }

.card-trip-infos {
  display: flex;
  justify-content: space-between;
  padding: 8px 24px;
  max-height: 200px;
  text-overflow: ellipsis;
}


.avatar-bordered {
  width: 40px;
  border-radius: 50px;
  border: white 1px solid;
  align-items: flex-end;
}

