.card_bookings {
  // background-size: cover;
  // background-position: center;
  // height: 150px;
  // border-radius: 1px;
  // box-shadow: 0 0 10px rgba(0,0,0,0.2);
  // display: flex;
  // align-items: center;
  // justify-content: space-around;
  // font-size: 22px;
  // color: white;
  // font-weight: bolder;
  // text-shadow: 0 0 10px rgba(0,0,0,0.7);
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px 20px;
  margin-top: 20px;
  border-radius: 15px;
}

.card_bookings > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card_bookings h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card_bookings p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}
.checkin-data {
  padding: 10px 0px;
}
