.booking-form {
  width: 100%;
  padding: 24px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  justify-content: center;
}


.form-btn {
  background-color: transparent;
  color: blue;
  border-radius: 24px;
}

.my-bookings-container {
  width: 500px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    // margin: 0;
}

.form-container {
    width: 500px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    // margin: 0;
}

.form-fields * {
  border-radius: 24px;
}

.form-fields label.file.optional {
  margin-left: 88px;
}

#yacht_photo {
  border-radius: 0;
  align-items: center;
  margin-left: 88px;
  width: 100%;
}

