.booking-form {
  width: 100%;
  padding: 24px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  justify-content: center;
}



.my-bookings-container {
  width: 500px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    // margin: 0;
}

.form-container {
    width: 500px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    // margin: 0;
}

.form-fields * {
  border-radius: 24px;
  width: 350px;
}

.form-fields label.file.optional {
  margin-left: 88px;
}

#yacht_photo {
  border-radius: 0;
  align-items: center;
  margin-left: 88px;
  width: 100%;
}

.search-catgy {
  padding: 24px;
}

.search-form {
  padding:0 24px;
  margin-top: 8px;
}


.yachtegories {
  margin: 0 24px;
    background: #043043;
}
