.navbar-lewagon {
  justify-content: space-between;
  padding: 20px 100px ;
  border-bottom: 0.5px solid rgba(255, 255, 255, .5);
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon h2{
  color: white;
  border: 3px solid transparent;
}

.navbar-lewagon a {
  text-decoration: none;
  color: white !important;
  font-size: 1.3rem;
  padding-bottom: 28px;
  margin-bottom: -31px;
  border: 3px solid transparent;
  z-index: 50;
}

.navbar-lewagon li {
  padding-left: 70px;
}

.navbar-links a:hover{
  border-bottom: 3px solid rgba(255, 255, 255, .7);
}

#canvas-basic {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
}
